@media (max-width: 1200px) {
  .header {
    padding: 0 16px;
  }

  nav ul {
    display: none !important;
  }

  /* #01 SECTION */
  .get__started {
    padding: 24px 16px 120px 24px;
    justify-content: center;
  }

  .get__started div:nth-child(2) {
    display: none;
  }

  .btn__primary.cta {
    font-size: 16px;
    padding: 16px 24px;
    width: 100%;
    justify-content: center;
  }

  .enterprises {
    padding: 16px;
    min-height: 64px;
  }

  .enterprises img {
    height: 15px;
  }

  /* #02 SECTION */
  .about {
    padding: 24px 16px;
  }

  .activity {
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .activity__card:hover {
    transform: translateY(0);
  }

  /* #03 SECTION */
  .avaliations {
    flex-wrap: wrap;
  }

  .avaliations__card {
    width: 100%;
  }

  .line-right {
    border: none;
  }

  .portfolio {
    padding: 24px 16px;
  }

  .projects {
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .projects div {
    width: 100%;
    max-width: 460px;
  }

  .project {
    gap: 12px;
  }

  .project div {
    gap: 8px;
  }

  /* #05 SECTION */
  .testimonials {
    padding: 32px 16px;
  }

  .comments {
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
  }

  .card__comment:hover {
    transform: translateY(0);
  }

  /* #06 SECTION */
  .subscribe {
    padding: 64px 16px;
  }

  form {
    width: 100%;
    max-width: 600px;
  }

  .contact__input {
    width: 100%;
    max-width: 600px;
  }

  /* FOOTER */
  .footer {
    flex-wrap: wrap;
    padding: 16px 16px 80px 16px;
    gap: 40px;
  }

  .footer div {
    width: 100%;
    align-items: center;
  }

  .social__links {
    justify-content: center;
  }

  .footer div:nth-child(n + 2) {
    display: none;
  }

  .footer__text {
    display: flex !important;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  nav i {
    display: none !important;
  }
}