:root {
  /* COLORS */
  --primary: #20B15A;
  --secondary: #D7F5DC;
  --orange: #F55F1D;
  --green: #00CA72;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #8B8B8B;
  --light-green: #F8FFF9;

  /* SHADOWS */
  --card-shadow: 0 0 12px #12121420;

  /* FONTS */
  --font-primary: Poppins, sans-serif;
  --font-secondary: Nunito Sans, sans-serif;
  --font-icons: FontAwesome, sans-serif;
}